force-app/main/default/flows/Email_Order_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Order_Email</name>
        <label>Send Email To Order Email</label>
        <locationX>1057</locationX>
        <locationY>1291</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>shippingEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_To_shippingPartner</name>
        <label>sendEmail To shippingPartner</label>
        <locationX>735</locationX>
        <locationY>915</locationY>
        <actionName>CDL_SendEmailToShippPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_To_Display_Order_Line_Item</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CDL_SendEmailToShippPartner</nameSegment>
        <outputParameters>
            <assignToReference>responseBody</assignToReference>
            <name>outputBody</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>sethinkEmail</name>
        <label>sethinkEmail</label>
        <locationX>902</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>shippingEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIthinklogisticsEmail.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail_To_shippingPartner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setShipdelightEmail</name>
        <label>setShipdelightEmail</label>
        <locationX>505</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>shippingEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getShipdelightEmail.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail_To_shippingPartner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkPartner</name>
        <label>checkPartner</label>
        <locationX>694</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>ShppingEmailerrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Ithink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Details.Tracking_URL__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ithinklogistics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIthinklogisticsEmail</targetReference>
            </connector>
            <label>is Ithink</label>
        </rules>
        <rules>
            <name>is_Shipdelight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Details.Tracking_URL__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>shipdelight</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getShipdelightEmail</targetReference>
            </connector>
            <label>is Shipdelight</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkShippingEmail</name>
        <label>checkShippingEmail</label>
        <locationX>56</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_EmailFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIthinklogisticsEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>if EmailFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Order Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Email Order Line Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>703</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPartner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Line_Item</name>
        <label>Get Order Line Item</label>
        <locationX>291</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order_Item__c</object>
        <outputReference>StoreOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
        <queriedFields>Subtotal_Price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getIthinklogisticsEmail</name>
        <label>getIthinklogisticsEmail</label>
        <locationX>801</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sethinkEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ithinklogistics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ShippingParterDetail__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShipdelightEmail</name>
        <label>getShipdelightEmail</label>
        <locationX>609</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setShipdelightEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>shipdelight</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ShippingParterDetail__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_To_Display_Order_Line_Item</name>
        <label>Screen To Display Order Line Item</label>
        <locationX>661</locationX>
        <locationY>1150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_Order_Email</targetReference>
        </connector>
        <fields>
            <name>Email_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>subjectEmail</elementReference>
            </defaultValue>
            <fieldText>Email Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>emailBody</name>
            <defaultValue>
                <stringValue>Dear {!Get_Order_Details.Account__r.Name},

{!responseBody}</stringValue>
            </defaultValue>
            <fieldText>Email Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShppingEmailerrorScreen</name>
        <label>ShppingEmailerrorScreen</label>
        <locationX>236</locationX>
        <locationY>606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Done</backButtonLabel>
        <fields>
            <name>emailError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(247, 47, 30); font-size: 14px;&quot;&gt;Opps! Your Shipping partner email not Found...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!responseBody}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>responseBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Item__c</objectType>
    </variables>
    <variables>
        <name>subjectEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Order Information</stringValue>
        </value>
    </variables>
</Flow>
