force-app/main/default/flows/FollowUp_Update_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>checkFollowUp_0</name>
        <label>checkFollowUp</label>
        <locationX>884</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifFollowUpMissed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecord</targetReference>
            </connector>
            <label>ifFollowUpMissed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FollowUp Update Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FollowUp Update Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePlatformEvent</name>
        <label>CreatePlatformEvent</label>
        <locationX>539</locationX>
        <locationY>399</locationY>
        <inputAssignments>
            <field>userId__c</field>
            <value>
                <elementReference>$Record.Order__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>newOrderPopup__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Id</name>
        <label>Get Order Id</label>
        <locationX>719</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFollowUp_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>voided</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>688</locationX>
        <locationY>578</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Missed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>646</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Order_Id</targetReference>
        </connector>
        <object>Order_Follow_Up__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>missedFollowUp</name>
            <label>missedFollowUp</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Expected_Follow_Up_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>FirePaltformEvent</name>
            <connector>
                <targetReference>CreatePlatformEvent</targetReference>
            </connector>
            <label>FirePaltformEvent</label>
            <offsetNumber>-10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Expected_Follow_Up_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
</Flow>
