force-app/main/default/flows/Order_Delivery_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>updateFollowUpStage</name>
        <label>updateFollowUpStage</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.FollowUp_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Delivery_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateFollowUpStageWithNoStage</name>
        <label>UpdateFollowUpStageWithNoStage</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.FollowUp_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Stage</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateVoidedStatus</name>
        <label>UpdateVoidedStatus</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.FollowUp_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Stage</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Checked_NDR_OFD_Abandoned_RTO</name>
        <label>Checked,NDR,OFD,Abandoned,RTO</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>UpdateFollowUpStageWithNoStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Order_Delivery_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>voided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateFollowUpStage</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChanged</name>
        <label>StatusChanged</label>
        <locationX>512</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Delivery_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checked_NDR_OFD_Abandoned_RTO</targetReference>
            </connector>
            <label>isDeliveryStatusChanged</label>
        </rules>
        <rules>
            <name>isStatusvoided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>voided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVoidedStatus</targetReference>
            </connector>
            <label>isStatusvoided</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Delivery Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Delivery Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusChanged</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Manifest, NDR, Out for Delivery, Abandoned, RTO</stringValue>
        </value>
    </variables>
    <variables>
        <name>VoidedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>voided</stringValue>
        </value>
    </variables>
</Flow>
