force-app/main/default/flows/Update_Delayed_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>gold_Available</name>
        <label>gold Available</label>
        <locationX>402</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>IsGoldAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>order_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isUpdateStatus</name>
        <label>isUpdateStatus</label>
        <locationX>622</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>IsUpdateStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_gold</name>
        <label>set gold</label>
        <locationX>270</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>IsUpdateStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gold_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_silver</name>
        <label>set silver</label>
        <locationX>710</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>IsStatusUpdateSilver</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>order_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_update_Status_Val</name>
        <label>set update Status Val</label>
        <locationX>50</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>ShipmentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delayed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Status_to_delayed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_update_status</name>
        <label>check for update status</label>
        <locationX>182</locationX>
        <locationY>1260</locationY>
        <defaultConnector>
            <targetReference>update_Status_to_delayed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is false</defaultConnectorLabel>
        <rules>
            <name>Is_true</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsUpdateStatusVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsStatusUpdateSilver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsGoldAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_update_Status_Val</targetReference>
            </connector>
            <label>Is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_type</name>
        <label>check type</label>
        <locationX>622</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>silver_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsSilver</defaultConnectorLabel>
        <rules>
            <name>isYellow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>order_item.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yellow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>created_Date</targetReference>
            </connector>
            <label>isYellow</label>
        </rules>
    </decisions>
    <decisions>
        <name>created_Date</name>
        <label>created Date</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>gold_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>todaydate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsUpdateStatusVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_gold</targetReference>
            </connector>
            <label>check date</label>
        </rules>
    </decisions>
    <decisions>
        <name>silver_date</name>
        <label>silver date</label>
        <locationX>842</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>order_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_date_silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUpdateStatusVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>silverdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_silver</targetReference>
            </connector>
            <label>check date silver</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>silverdate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(DATEVALUE({!$Record.CreatedDate})),MONTH(DATEVALUE({!$Record.CreatedDate})),DAY(DATEVALUE({!$Record.CreatedDate})) + VALUE({!$Label.SilverVariant}))</expression>
    </formulas>
    <formulas>
        <name>todaydate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(DATEVALUE({!$Record.CreatedDate})),MONTH(DATEVALUE({!$Record.CreatedDate})),DAY(DATEVALUE({!$Record.CreatedDate})) + VALUE({!$Label.GoldVariant}))</expression>
    </formulas>
    <interviewLabel>Update Delayed Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Delayed Order</label>
    <loops>
        <name>order_item</name>
        <label>order item</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>orderItemsData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isUpdateStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_for_update_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>orderItemsData</name>
        <label>orderItemsData</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>order_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Status_to_delayed</name>
        <label>update Status to delayed</label>
        <locationX>182</locationX>
        <locationY>1560</locationY>
        <inputAssignments>
            <field>Order_Delivery_Status__c</field>
            <value>
                <elementReference>ShipmentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>orderItemsData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracking_URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Delivery_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>delayed</stringValue>
            </value>
        </filters>
        <object>Order__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-21</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsGoldAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsStatusUpdateSilver</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsUpdateStatusVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_Item__c</objectType>
    </variables>
    <variables>
        <name>ShipmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Order_Delivery_Status__c</elementReference>
        </value>
    </variables>
</Flow>
